* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 30px;
}

li {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
}

body {
    margin: 0;
}

.content-one {
    display: flex;
    background-color: #1F2937;
    height: 93vh;
    align-items: center;
    justify-content: center;
}

.content-one .left-side {
    display: flex;
    flex-direction: column;
    max-width: 37.5vw;
    height: auto;
    color: #F9FAF8;
    padding-right: 50px;
}

.content-one h1 {
    font-size: 48px;
    margin-bottom: 0;
    font-weight: 900;
}

.content-one p {
    margin-top: 0;
    color: #E5E7EB;
}

img {
    max-width: 37.5vw;
    height: auto;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    max-width: 125px;
    font-size: large;
    font-weight: 500;
    padding: 8px 20px;
    border: 0;
}

.content-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
    height: 50vh;
    width: auto;
}

.content-two h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 45px;
}

.box-wraper {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 20px;
}

.box-container {
    display: flex;
    flex-direction: column;
}

.box-container p {
    max-width: 150px;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    color: grey;
    font-weight: 400;
}

.box {
    width: 150px;
    height: 150px;
    border: solid blue 4px;
    border-radius: 15px;
}

.content-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: auto;
    background-color: #E5E7EB;
}

.content-three h2 {
    max-width: 60vw;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 0;
    margin-bottom: 0;
}

.content-three h3 {
    max-width: 60vw;
    font-size: 20px;
    font-weight: 800;
    padding: 0 0 0 40vw;
    margin-top: 0;
}